window#waybar {
    background: transparent;
    color: @base05;
}

tooltip {
    background: @base00;
    border-width: 2px;
    border-style: solid;
    border-color: @base01;
}

#workspaces button {
    padding: 5px;
    color: @base03;
    margin-right: 5px;
}

#workspaces button.active {
    color: @base05;
}

#workspaces button.focused {
    color: @base00;
    background: @yellow;
}

#workspaces button.urgent {
    color: @base00;
    background: @red;
}

#workspaces button:hover {
    background: @base01;
    color: @base05;
}

#language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
    background: @base00;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid @base01;
}

#workspaces {
    background: @base00;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-caffeine {
    color: @cyan;
    border-right: 0px;
    margin-left: 10px;
}

#language {
    color: @red;
    border-left: 0px;
    border-right: 0px;
}

#custom-updates {
    color: @magenta;
    border-left: 0px;
    border-right: 0px;
}

#clock {
    color: @orange;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    color: @yellow;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    color: @blue;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: @magenta;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#battery {
    color: @green;
    margin-right: 10px;
    border-left: 0px;
}
